<button (click)="chartTypeClick$.next('column')">column</button>
<button (click)="chartTypeClick$.next('column-set')">column-set</button>
<button (click)="chartTypeClick$.next('bar')">bar</button>
<button (click)="chartTypeClick$.next('bar-set')">bar-set</button>
<button (click)="chartTypeClick$.next('pie')">pie</button>
<button (click)="chartTypeClick$.next('pie-set')">pie-set</button>
<button (click)="chartTypeClick$.next('line')">line</button>
<br>
<br>
<div style="width:100%;">
    <h2>{{currentType}} Chart</h2>
    <div style="width:18%;float:left;">
        <textarea style="width:100%;height:550px;" [(ngModel)]="currentConfigurationString"></textarea>
        <button style="width:100%;height:40px;" (click)="rerun()" >Run</button>
    </div>
    <div style="width:80%;height:600px;float:right;">
        <div style="width:100%;height:100%;">
            <div style="width:100%;height:calc(100% - 50px);">
                <app-mi-chart [chartinfo]="chartinfo" [series]="series" [axis]="axis"  [plugin]="plugin"></app-mi-chart>
            </div>
            <div style="width:100%;height:50px;">
                <app-mi-legend [legendinfo]="legendinfo" [chartSelector]="chartinfo.selector" ></app-mi-legend>
            </div>
        </div>
    </div>
</div>

